@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #080202;
  font-family: "Poppins", sans-serif;
}

.banner {
  position: relative;
  background-image: url('imagenes/banner.jpg');
  background-size: cover;
  background-position: center;
  height: 205px;
  overflow: hidden;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(8, 2, 2, 0.7) 0%, rgba(8, 2, 2, 0) 100%);
  z-index: 1;
}

.banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(8, 2, 2, 0) 0%, rgba(8, 2, 2, 0.7) 100%), url('imagenes/banner.jpg');
  background-size: cover;
  background-position: center;
  z-index: 0; /* Asegura que esté por debajo del pseudo-elemento ::before */
}
.orange-border {
  border: 2px solid #e76800;
  border-radius: 30px;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.black-border {
  border: 4px solid black;
  border-radius: 30px;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.menu {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.navbar {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.menu-1 {
  margin-right: 20%;
}

.menu-2 {
  margin-left: 20%;
  display: flex;
  align-items: center;
}

.logo-1 {
  width: 0;
}

.logo-2 {
  width: 175px;
}

.socials {
  margin: 0 20px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: space-between;
}

.social {
  margin: 0 10px;
  height: 40px;
  width: 40px;
  border: 1px solid #e76800;
  border-radius: 50%;
}

.social:hover {
  background-color: #e76800;
}

.social img {
  margin: 8px 0 0 10px;
}

.menu .navbar ul {
  display: flex;
  justify-content: center;
}

.menu .navbar ul li {
  margin: 0 20px;
}

.menu .navbar ul li a {
  font-size: 18px;
  color: #FFFF;
  text-align: center;
  padding: 20px;
  display: block;
}

.menu .navbar ul li a:hover {
  color: #e76800;
}

#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

.contenedor-botones {
  margin-top: 6%;
  padding-bottom: 50px;
  text-align: center;
}

.botones {
  text-align: center;
  margin-top: 50px;
  margin-left: 5.5%;
}

.btn-1 {
  display: inline-block;
  padding: 15px 35px;
  border: 2px solid #e76800;
  color: #FFFF;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 20px;
  border-radius: 50px;
}

.btn-1:hover {
  background-color: #e76800;
}

.products {
  background-color: #0D0D0D;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0px;
}

.tabs label {
  width: 15%;
  order: 1;
  display: block;
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
  color: #A7A7A7;
  font-weight: 700;
  transition: background ease 0.2s;
}

.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding-top: 25px;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked + label {
  border-bottom: 2px solid #e76800;
  color: #FFFF;
}

.product {
  display: flex;
  align-items: center;
  padding: 25px;
  margin: 0 10px;
}

.product-img {
  width: 50%;
  text-align: left;
}

.product-img h4 {
  display: inline-block;
  padding: 5px 7px;
  line-height: 15px;
  color: #FFFF;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  border: 2px solid #555555;
  border-radius: 10px;
  margin-bottom: 50px;
}

.product-img img {
  width: 150px;
  height: 120px;
}

.product-txt {
  width: 50%;
  margin-left: 10px;
  text-align: left;
}

.product-txt h4 {
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 5px;
}

.product-txt p {
  color: #A7A7A7;
  font-size: 16px;
  margin-bottom: 15px;
}

.product-txt span {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 800;
}

.info {
  padding: 100px 0;
  display: flex;
  align-items: center;
}

.info-img {
  width: 50%;
}

.info-img img {
  width: 500px;
  height: 330px;
}

.info-txt {
  width: 50%;
}

.info-txt h2 {
  font-size: 65px;
  color: #FFFFFF;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.info-txt p {
  font-size: 18px;
  color: #A7A7A7;
  margin-bottom: 50px;
}

.btn-2 {
  display: inline-block;
  padding: 15px 35px;
  border: 2px solid #e76800;
  color: #FFFF;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 20px;
  border-radius: 50px;
}

.btn-2:hover {
  background-color: #c55a02;
}

.txt {
  color: #FFFF;
}

.txt h4 {
  font-size: 18px;
  color: #A7A7A7;
  margin-bottom: 30px;
}

.txt p {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
}

.map {
  filter: grayscale(50%) invert(5%) contrast(100%);
}

.footer {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.links h4 {
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.links ul li a {
  color: #FFFFFF;
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
}

.formulario-reserva {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  padding: 200px;
  background-color: #080202;
  height: 400px;
  margin-bottom: 70px;
  margin-top: 70px;
}

.formulario-reserva h1 {
  font-size: 50px;
}

.formulario-reserva label {
  font-size: 1.5vw;
}

.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.campo {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.campo label {
  color: #FFFFFF;
}

.campo input[type="text"],
.campo input[type="number"],
.campo input[type="date"],
.campo input[type="time"],
.campo input[type="tel"] {
  background-color: #080202;
  color: #FFFFFF;
  border: 2px solid #e76800;
  padding: 13px;
  margin: 5px 0;
  width: 100%;
}

.enviar {
  display: inline-block;
  padding: 10px 35px;
  height: 46px;
  border: 2px solid #e76800;
  color: #FFFF;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #080202;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 48px;
}

.enviar:hover {
  background-color: #e76800;
  color: #080202;
}

.links ul li a {
  font-size: 18px;
  color: #FFFF;
  display: block;
}

.links ul li a:hover {
  color: #e76800;
}

.rest-txt {
  margin-top: 100px;
  margin-bottom: 100px;
}

.rest-txt h2 {
  font-size: 50px;
  color: #FFFFFF;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 25px;
  width: 100%;
  text-align: center;
}

.rest-txt p {
  width: 50%;
  font-size: 18px;
  color: #A7A7A7;
  margin: 0 auto;
}

.personal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.personal-box {
  width: 30%;
  margin: 10px;
  color: #e76800;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.personal-box img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.confirmation-message p {
  font-size: 25px;
  margin-top: 20px;
}

.categoria {
  margin-bottom: 30px;
}

.categoria h2 {
  color: #FFFF;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.menu-item {
  width: calc(33% - 20px);
  margin: 10px;
  border: 1px solid #e76800; /* Borde naranja */
  padding: 5px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  background-color: #080202; /* Fondo negro */
  overflow: hidden;
  border-radius: 15px;
}

.menu-item img {
  border-radius: 15px;
}

.categoria h2 {
  font-size: 50px;
  color: #FFFFFF;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 25px;
  width: 100%;
  text-align: center;
}

.titulo-entrantes {
  margin-top: 5%;
}

.item-details {
  text-align: left;
  padding-left: 10px;
}

.item-name {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  color: #FFFF;
}

.item-description {
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
  color: #A7A7A7;
}

.item-price {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  color: #e76800;
}

.menu-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 50px;
}

.menu-item {
  text-align: center;
  padding: 20px;
  border: 1px solid #e76800;
  border-radius: 10px;
  background-color: #080202;
  color: #FFFFFF;
  width: 30%;
}

.menu-item h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.menu-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: 250px;
}

.precio {
  font-size: 18px;
  color: #e76800;
}

.descripcion {
  font-size: 16px;
  color: #A7A7A7;
}

.caracteristicas {
  list-style-type: circle;
}

@media(max-width: 991px) {
  .menu {
    padding: 20px;
    justify-content: space-between;
  }
  .menu-2 {
    display: none;
  }
  .logo-1 {
    width: 100px;
  }
  .logo-2 {
    width: 0;
  }
  .menu label {
    display: initial;
  }
  
  .menu .navbar {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    background-color: #181818;
    display: none;
  }
  .menu .navbar ul li {
    width: 100%;
  }
  #menu:checked ~ .navbar {
    display: initial;
  }
  .header-content {
    padding: 30px;
    margin-top: 100px;
  }
  .slider {
    flex-direction: column;
  }
  .slider-txt {
    margin-left: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;   
  }
  .slider-txt h1 {
    font-size: 50px;
  }
  .slider-txt p {
    font-size: 16px;
  }
  .btn-1 {
    padding: 10px 25px;
    font-size: 14px;
  }
  .slider-img {
    width: 100%;
    text-align: center;
  }
  .slider-img img {
    margin-right: 0;
    width: 300px;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets, .swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -7px;
  }
  .tabs {
    padding: 50px 30px;
  }
  .tabs label {
    width: 33%;
  }
  .info {
    padding: 30px;
    flex-direction: column;
  }
  .info-img {
    width: 100%;
    text-align: center;
  }
  .info-img img {
    width: 400px;
    height: 200px;
    margin-bottom: 25px;
  }
  .info-txt {
    width: 100%;
    text-align: center;
  }
  .info-txt h2 {
    font-size: 50px;
  }
  .info-txt p {
    font-size: 16px;
  }
  .btn-1 {
    font-size: 16px;
  }
  .horario {
    padding: 30px;
    text-align: center;
  }

  .horario-info h2 {
    font-size: 50px;
    margin-left: 18px;
    margin-bottom: 15px;
  }

  .horario-txt {
    flex-direction: column;
  }
  .socials {
    justify-content: center;
  }
  .social img {
    margin: 8px 0 0 0;
  }
  .footer {
    padding: 30px;
    flex-direction: column;
    text-align: center;
  }
  .links h4 {
    margin: 25px 0 10px 0;
  }
}